.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    min-width: 100px;
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--primary-text-color);
    background-color: transparent;
    font-weight: 700;
    font-family: var(--font-family);
    font-size: 1.6rem;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    &.disabled {
        background-color: rgb(240 240 240 / 0.5);
        pointer-events: none;
    }
}

.icon + .btn-label,
.btn-label + .icon {
    margin-left: 8px;
}

.icon {
    display: flex;
    width: 20px;
}

.btn-label {
    line-height: 1;
}

.rounded {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border: 1px solid var(--border-color);
    border-radius: 999px;
    background-color: var(--bgc-btn);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary {
    color: var(--white);
    background-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border: 1px solid currentColor;
    background-color: var(--bgc-btn);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border: 1px solid currentColor;
    }
}

.small {
    padding: 4px 16px;
    min-width: 88px;
    font-weight: 600;
}

.large {
    padding: 14px 16px;
    min-width: 168px;
}

.squared {
    border-radius: 2px;
    border: 1px solid var(--border-color);
    font-weight: 600;
    background-color: var(--bgc-btn);

    &:hover {
        background-color: var(--hover-color);
    }
}
