.wrapper {
    border-top: 1px solid var(--border-color);
    padding: 16px 8px 8px;
}

.heading {
    margin-bottom: 16px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-text-color);
}
